<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Bananonymous</h1>
            My temperature: <%= temp %><br />
Temp + 10 : <%= total %><br /><br />

Opened <span id="refresh"><%= opened %></span><br />

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>


    <script>

        function updateValue(){
            document.getElementById("refresh").innerHTML="<%= opened %>";
            console.log('intervall');


            $.get("/string", function(string) {
              console.log(string);
            })
        }
        setInterval(updateValue, 2000);
        console.log('test');


    </script>


</body>
</html>
